@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap");
/* _reset.scss */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #eaeaea;
  color: #1c1c27;
}

.container {
  max-width: 1110px;
  margin: 0 auto;
  padding: 0 50px;
}

.header {
  margin-bottom: 22px;
}
.header__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 10px;
}
.header__logo-img {
  width: 85px;
}
.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__list-desc {
  font-size: 15px;
  font-weight: 500;
  color: #101010;
}
.header__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 25px;
}

.hero {
  background-color: #101010;
  border-radius: 30px;
  margin-bottom: 44px;
}
.hero__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.hero__desc {
  font-weight: 600;
  font-size: 30px;
  color: #fff;
}

.covers {
  margin-bottom: 30px;
}
.covers__title {
  color: #838383;
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 20px;
}
.covers__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}
.covers__card {
  background-color: #fff;
  border-radius: 30px;
  padding: 25px 99px 91px 100px;
}
.covers__card-img {
  margin-bottom: 20px;
}
.covers__card-desc {
  font-weight: 600;
  font-size: 17px;
  color: #1c1c27;
}