@charset "UTF-8";
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
/* _reset.scss */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
}

html {
  height: 100%;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #eaeaea;
  color: #1c1c27;
}

.container {
  max-width: 1110px;
  margin: 0 auto;
  padding: 0 50px;
}

.header {
  margin-bottom: 22px;
}
.header__flex {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
}
.header__content {
  display: flex;
  gap: 65px;
}
.header__logo-img {
  width: 85px;
}
.header__list {
  display: flex;
  gap: 15px;
}
.header__list-wrapper {
  position: relative;
}
.header__list-wrapper-header {
  display: flex;
  align-items: center;
  gap: 5px;
}
.header__list-wrapper-item-btn {
  border: none;
  cursor: pointer;
}
.header__phone-list {
  max-width: 255px;
  width: 100%;
  background-color: #eaeaea;
  border: #000000 solid;
  border-radius: 0 0 30px 30px;
  position: absolute;
  padding: 19px 48px 29px 27px;
  opacity: 0;
  transition: opacity 0.6s ease;
}
.header__phone-list.active {
  opacity: 1;
}
.header__phone-list-brand-header {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-bottom: 5px;
}
.header__phone-list-brand-title {
  font-weight: 500;
  font-size: 17px;
}
.header__list-desc {
  font-size: 15px;
  font-weight: 500;
  color: #101010;
  margin-left: 15px;
}
.header__btn {
  display: flex;
  gap: 25px;
}
.header__list-item-btn {
  margin-left: 5px;
}
.header__list-item-btn.active img {
  transform: rotate(180deg);
}
.header__phone-list-models {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.header__phone-list-models li a:hover {
  color: #ffa542;
  cursor: pointer;
}

.rotate {
  transform: rotate(-180deg);
  transition: 0.6s;
}

.hero {
  background-color: #101010;
  border-radius: 30px;
  margin-bottom: 44px;
}
.hero__flex {
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-height: 227px;
}
.hero__desc {
  font-weight: 600;
  font-size: 30px;
  color: #fff;
  text-align: center;
}

.covers {
  margin-bottom: 30px;
}
.covers__title {
  color: #838383;
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 20px;
}
.covers__flex {
  display: flex;
  gap: 30px;
}
.covers__card {
  background-color: #fff;
  border-radius: 30px;
}
.covers__card:hover {
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
.covers__card-img {
  padding: 25px 100px;
}
.covers__card-desc {
  font-weight: 600;
  font-size: 17px;
  color: #1c1c27;
  text-align: center;
  padding-bottom: 50px;
}

.headphones {
  margin-bottom: 50px;
}
.headphones__title {
  color: #838383;
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 20px;
}
.headphones__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
.headphones__card {
  background-color: #fff;
  border-radius: 30px;
  padding: 20px;
  position: relative;
}
.headphones__card:hover {
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
.headphones__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.headphones__card-content-img {
  height: 230px;
  max-width: 219px;
  -o-object-fit: contain;
     object-fit: contain;
}
.headphones__card-info {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}
.headphones__card-title {
  font-weight: 600;
  font-size: 17px;
  color: #1c1c27;
  margin-bottom: 25px;
}
.headphones__card-prices {
  display: flex;
  flex-direction: column;
}
.headphones__card-price {
  font-weight: 600;
  font-size: 17px;
  color: #ffa542;
}
.headphones__card-price_old {
  font-weight: 600;
  font-size: 13px;
  text-decoration: line-through;
  color: #ffce7f;
  text-align: center;
}
.headphones__card-rating {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-top: 5px;
}
.headphones__card-rating-star {
  color: #ffce7f;
}
.headphones__card-rating-value {
  font-weight: 600;
  font-size: 17px;
  color: #838383;
}
.headphones__card-heart {
  position: absolute;
  top: 15px;
  border: none;
  background-color: #fff;
  cursor: pointer;
}
.headphones__card-price_sale {
  font-size: 19px;
  color: #df6464;
}
.headphones__card-price_old-value {
  font-size: 14px;
  color: #aaa;
  text-decoration-color: #df6464;
}
.headphones__card-sale-value {
  font-weight: 600;
  font-size: 16px;
  color: #df6464;
}

.wireless {
  margin-bottom: 60px;
}
.wireless__title {
  color: #838383;
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 20px;
}
.wireless__grid {
  display: grid; /* grid проще для равных колонок */
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
.wireless__card {
  background-color: #fff;
  padding: 20px;
  border-radius: 30px;
  position: relative;
}
.wireless__card:hover {
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
.wireless__card-image {
  display: flex;
  justify-content: center;
  margin-bottom: 54px;
}
.wireless__card-info {
  display: flex;
  justify-content: space-between;
}
.wireless__card-title {
  font-weight: 600;
  font-size: 17px;
  color: #1c1c27;
  margin-bottom: 25px;
}
.wireless__card-price {
  font-weight: 600;
  font-size: 17px;
  color: #ffa542;
}
.wireless__card-rating-star {
  color: #ffce7f;
}
.wireless__card-rating-value {
  font-weight: 600;
  font-size: 17px;
  color: #838383;
}
.wireless__card-heart {
  position: absolute;
  top: 15px;
  border: none;
  background-color: #fff;
  cursor: pointer;
}
.wireless__card-apple {
  position: absolute;
  top: 23px;
  right: 21px;
  border: none;
  background-color: #fff;
  cursor: pointer;
}

.footer {
  background-color: #fff;
  border-radius: 30px 30px 0 0;
  padding: 30px;
}
.footer__flex {
  display: flex;
  justify-content: space-between;
}
.footer__info {
  display: flex;
  gap: 175px;
}
.footer__info-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.footer__link {
  font-size: 17px;
  color: #000;
}
.footer__link:hover {
  color: #ffa542;
}
.footer__terms-text {
  display: block;
  margin-bottom: 34px;
  font-size: 17px;
  color: #000;
}
.footer__terms-text:hover {
  color: #ffa542;
}
.footer__language {
  display: flex;
  gap: 17px;
}
.footer__language-item {
  font-size: 15px;
  color: #101010;
}
.footer__language-item:hover {
  color: #ffa542;
  cursor: pointer;
}
.footer__language-btn {
  border: none;
  background-color: #fff;
  cursor: pointer;
}
.footer__social {
  display: flex;
  gap: 17px;
}
.footer__social-icon {
  height: 31px;
}

.favorites-page {
  height: 100%;
}

.favorites-container {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.favorites-page main {
  flex: 1 1 auto;
}

.header--favorites {
  margin-bottom: 39px;
}

.headphones--favorites {
  margin-bottom: 47px;
}

.wireless--favorites {
  margin-bottom: 41px;
}

.header--cart {
  margin-bottom: 61px;
}

.cart-page {
  height: 100%;
}

.cart-container {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.cart-page main {
  flex: 1 1 auto;
}

.cart {
  margin-bottom: 127px;
}
.cart__flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cart__icon {
  margin-bottom: 30px;
}
.cart__content {
  text-align: center;
  margin-bottom: 30px;
}
.cart__content-title {
  font-weight: 500;
  font-size: 30px;
  color: #101010;
}
.cart__content-desc {
  font-size: 20px;
  color: #838383;
}
.cart__btn {
  max-width: 540px;
  width: 100%;
  font-weight: 600;
  font-size: 20px;
  color: #fff;
  padding: 20px;
  background-color: #101010;
  border-radius: 20px;
}
.cart__btn:hover {
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

.header--product {
  margin-bottom: 30px;
}

.product-description__title {
  color: #838383;
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 20px;
}
.product-description__card {
  background-color: #fff;
  border-radius: 30px;
  padding: 19px 25px 27px 35px;
  margin-bottom: 23px;
}
.product-description__elements {
  display: flex;
  justify-content: space-between;
}
.product-description__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  margin-bottom: 30px;
}
.product-description__content {
  display: flex;
  justify-content: space-between;
  align-items: end;
}
.product-description__name {
  font-weight: 600;
  font-size: 25px;
  color: #1c1c27;
}
.product-description__prices {
  display: flex;
  align-items: center;
  gap: 30px;
}
.product-description__price {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.product-description__price-now {
  font-weight: 600;
  font-size: 28px;
  color: #df6464;
}
.product-description__price-old {
  font-weight: 600;
  font-size: 20px;
  color: #aaa;
  text-decoration-line: line-through;
  text-decoration-color: #df6464;
}
.product-description__sale-percentage {
  font-weight: 600;
  font-size: 20px;
  color: #df6464;
}

.product-description-details {
  margin-bottom: 19px;
}
.product-description-details__flex {
  display: flex;
  gap: 31px;
}
.product-description-details__content {
  background-color: #f9f9f9;
  border-radius: 15px;
  max-width: 824px;
  width: 100%;
}
.product-description-details__title-block {
  background-color: #fff;
  padding-top: 20px;
  padding-bottom: 21px;
  padding-left: 22px;
  border-radius: 15px;
}
.product-description-details__title {
  font-weight: 600;
  font-size: 20px;
}
.product-description-details__list-block {
  padding-top: 20px;
  padding-bottom: 24px;
  padding-left: 22px;
}
.product-description-details__list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.product-description-details__list-item {
  font-weight: 500;
  font-size: 15px;
}
.product-description-details__btns {
  display: flex;
  flex-direction: column;
  gap: 18px;
}
.product-description-details__btn {
  font-weight: 500;
  font-size: 15px;
  text-align: center;
  color: #fff;
  padding: 14px 87px;
  border-radius: 10px;
  background-color: #101010;
  border: none;
  font-family: inherit;
}