// Базовые настройки
@import "base/mixins";
@import "base/fonts.scss";
@import "base/variables";
@import "base/reset";
@import "base/global";

// Блоки
@import "blocks/header.scss";
@import "blocks/hero.scss";
@import "blocks/covers.scss";
@import "blocks/headphones.scss";
@import "blocks/wireless.scss";
@import "blocks/footer.scss";

// Страницы
@import "pages/favorites.scss";
@import "pages/cart.scss";
@import "pages/product.scss";
@import "pages/cart-add.scss";
