.covers {
  margin-bottom: 30px;
  &__title {
    @include block-title;
  }
  &__flex {
    display: flex;
    gap: 30px;
  }
  &__card {
    background-color: #fff;
    border-radius: 30px;
  }
  &__card:hover {
    @include card-hover;
  }
  &__card-img {
    padding: 25px 100px;
  }
  &__card-desc {
    font-weight: 600;
    font-size: 17px;
    color: $color-text;
    text-align: center;
    padding-bottom: 50px;
  }
}
