.headphones {
  margin-bottom: 50px;
  &__title {
    @include block-title;
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
  }
  &__card {
    background-color: #fff;
    border-radius: 30px;
    padding: 20px;
    position: relative;
  }
  &__card:hover {
    @include card-hover;
  }
  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__card-content-img {
    height: 230px;
    object-fit: contain;
  }

  &__card-info {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
  }
  &__card-title {
    @include card-title;
  }
  &__card-prices {
    display: flex;
    flex-direction: column;
  }
  &__card-price {
    @include card-price;
  }
  &__card-price_old {
    font-weight: 600;
    font-size: 13px;
    text-decoration: line-through;
    color: #ffce7f;
    text-align: center;
  }
  &__card-rating {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-top: 5px;
  }
  &__card-rating-star {
    @include card-rating-star;
  }
  &__card-rating-value {
    @include card-rating;
  }
  &__card-heart {
    @include card-heart;
  }
  &__card-price_sale {
    @include value-sale;
  }
  &__card-price_old-value {
    font-size: 14px;
    color: #aaa;
    text-decoration-color: #df6464;
  }
  &__card-sale-value {
    font-weight: 600;
    font-size: 16px;
    color: #df6464;
  }
}
