.hero {
  background-color: #101010;
  border-radius: 30px;
  margin-bottom: 44px;
  &__flex {
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-height: 227px;
  }
  &__desc {
    font-weight: 600;
    font-size: 30px;
    color: #fff;
    text-align: center;
  }
}
